.breadcrumb
  %span.prompt 您所在的位置：&nbsp;
  %a{:href => '#'} 0a1a小游戏 
  %span &gt;
  %a{:href => '#'} 动作小游戏
  %span &gt;
  %a{:href => '#'} 熊出没 

.clearfix{:style => 'height:10px;width:100%;'}
.node
  .left.rank-list
  .right.game-list
  .left.gallery-list
