.breadcrumb
  %span.prompt 您所在的位置：&nbsp;
  %a{:href => '#'} 0a1a小游戏 
  %span &gt;
  %a{:href => '#'} 动作小游戏
  %span &gt;
  %a{:href => '#'} 熊出没 

.clearfix{:style => 'width:100%;height:10px;'}
.game
  .detail

  .clearfix{:style => 'width:100%;height:10px;'}
  #similar.left
  #recommend.left
  #rank.right
  #comment.left
