.wrapper
  .left-links
    %a{:href => 'javascript:void(0)'} 收藏
    %a{:href => 'javascript:void(0)'} 微博
    %a{:href => 'javascript:void(0)'} 微信

  .right-links
    %a{:href => 'javascript:void(0)'} 登录
    %a{:href => 'javascript:void(0)'} 注册
