.tag_nav
  .block
    %dl
      %dt 
        %a{:href => 'javascript:void(0)'} 益智
      %dd
        %a{:href => 'javascript:void(0)'} 找东西
        \|
        %a{:href => 'javascript:void(0)'} 鱼
        \|
        %a{:href => 'javascript:void(0)'} 迷宫
        \|
        %a{:href => 'javascript:void(0)'} 大富翁
        \|
        %a{:href => 'javascript:void(0)'} 吃豆豆
        \|
        %a{:href => 'javascript:void(0)'} 祖玛
        \|
        %a{:href => 'javascript:void(0)'} 钓鱼
    %dl
      %dt 
        %a{:href => 'javascript:void(0)'} 益智
      %dd
        %a{:href => 'javascript:void(0)'} 找东西
        \|
        %a{:href => 'javascript:void(0)'} 鱼
        \|
        %a{:href => 'javascript:void(0)'} 迷宫
        \|
        %a{:href => 'javascript:void(0)'} 大富翁
        \|
        %a{:href => 'javascript:void(0)'} 吃豆豆
        \|
        %a{:href => 'javascript:void(0)'} 祖玛
        \|
        %a{:href => 'javascript:void(0)'} 钓鱼
    %dl
      %dt 
        %a{:href => 'javascript:void(0)'} 益智
      %dd
        %a{:href => 'javascript:void(0)'} 找东西
        \|
        %a{:href => 'javascript:void(0)'} 鱼
        \|
        %a{:href => 'javascript:void(0)'} 迷宫
        \|
        %a{:href => 'javascript:void(0)'} 大富翁
        \|
        %a{:href => 'javascript:void(0)'} 吃豆豆
        \|
        %a{:href => 'javascript:void(0)'} 祖玛
        \|
        %a{:href => 'javascript:void(0)'} 钓鱼
    %dl
      %dt 
        %a{:href => 'javascript:void(0)'} 益智
      %dd
        %a{:href => 'javascript:void(0)'} 找东西
        \|
        %a{:href => 'javascript:void(0)'} 鱼
        \|
        %a{:href => 'javascript:void(0)'} 迷宫
        \|
        %a{:href => 'javascript:void(0)'} 大富翁
        \|
        %a{:href => 'javascript:void(0)'} 吃豆豆
        \|
        %a{:href => 'javascript:void(0)'} 祖玛
        \|
        %a{:href => 'javascript:void(0)'} 钓鱼

  .block
    %dl
      %dt 
        %a{:href => 'javascript:void(0)'} 益智
      %dd
        %a{:href => 'javascript:void(0)'} 找东西
        \|
        %a{:href => 'javascript:void(0)'} 鱼
        \|
        %a{:href => 'javascript:void(0)'} 迷宫
        \|
        %a{:href => 'javascript:void(0)'} 大富翁
        \|
        %a{:href => 'javascript:void(0)'} 吃豆豆
        \|
        %a{:href => 'javascript:void(0)'} 祖玛
        \|
        %a{:href => 'javascript:void(0)'} 钓鱼
    %dl
      %dt 
        %a{:href => 'javascript:void(0)'} 益智
      %dd
        %a{:href => 'javascript:void(0)'} 找东西
        \|
        %a{:href => 'javascript:void(0)'} 鱼
        \|
        %a{:href => 'javascript:void(0)'} 迷宫
        \|
        %a{:href => 'javascript:void(0)'} 大富翁
        \|
        %a{:href => 'javascript:void(0)'} 吃豆豆
        \|
        %a{:href => 'javascript:void(0)'} 祖玛
        \|
        %a{:href => 'javascript:void(0)'} 钓鱼
    %dl
      %dt 
        %a{:href => 'javascript:void(0)'} 益智
      %dd
        %a{:href => 'javascript:void(0)'} 找东西
        \|
        %a{:href => 'javascript:void(0)'} 鱼
        \|
        %a{:href => 'javascript:void(0)'} 迷宫
        \|
        %a{:href => 'javascript:void(0)'} 大富翁
        \|
        %a{:href => 'javascript:void(0)'} 吃豆豆
        \|
        %a{:href => 'javascript:void(0)'} 祖玛
        \|
        %a{:href => 'javascript:void(0)'} 钓鱼
    %dl
      %dt 
        %a{:href => 'javascript:void(0)'} 益智
      %dd
        %a{:href => 'javascript:void(0)'} 找东西
        \|
        %a{:href => 'javascript:void(0)'} 鱼
        \|
        %a{:href => 'javascript:void(0)'} 迷宫
        \|
        %a{:href => 'javascript:void(0)'} 大富翁
        \|
        %a{:href => 'javascript:void(0)'} 吃豆豆
        \|
        %a{:href => 'javascript:void(0)'} 祖玛
        \|
        %a{:href => 'javascript:void(0)'} 钓鱼
  .block
    %dl
      %dt 
        %a{:href => 'javascript:void(0)'} 益智
      %dd
        %a{:href => 'javascript:void(0)'} 找东西
        \|
        %a{:href => 'javascript:void(0)'} 鱼
        \|
        %a{:href => 'javascript:void(0)'} 迷宫
        \|
        %a{:href => 'javascript:void(0)'} 大富翁
        \|
        %a{:href => 'javascript:void(0)'} 吃豆豆
        \|
        %a{:href => 'javascript:void(0)'} 祖玛
        \|
        %a{:href => 'javascript:void(0)'} 钓鱼
    %dl
      %dt 
        %a{:href => 'javascript:void(0)'} 益智
      %dd
        %a{:href => 'javascript:void(0)'} 找东西
        \|
        %a{:href => 'javascript:void(0)'} 鱼
        \|
        %a{:href => 'javascript:void(0)'} 迷宫
        \|
        %a{:href => 'javascript:void(0)'} 大富翁
        \|
        %a{:href => 'javascript:void(0)'} 吃豆豆
        \|
        %a{:href => 'javascript:void(0)'} 祖玛
        \|
        %a{:href => 'javascript:void(0)'} 钓鱼
    %dl
      %dt 
        %a{:href => 'javascript:void(0)'} 益智
      %dd
        %a{:href => 'javascript:void(0)'} 找东西
        \|
        %a{:href => 'javascript:void(0)'} 鱼
        \|
        %a{:href => 'javascript:void(0)'} 迷宫
        \|
        %a{:href => 'javascript:void(0)'} 大富翁
        \|
        %a{:href => 'javascript:void(0)'} 吃豆豆
        \|
        %a{:href => 'javascript:void(0)'} 祖玛
        \|
        %a{:href => 'javascript:void(0)'} 钓鱼
    %dl
      %dt 
        %a{:href => 'javascript:void(0)'} 益智
      %dd
        %a{:href => 'javascript:void(0)'} 找东西
        \|
        %a{:href => 'javascript:void(0)'} 鱼
        \|
        %a{:href => 'javascript:void(0)'} 迷宫
        \|
        %a{:href => 'javascript:void(0)'} 大富翁
        \|
        %a{:href => 'javascript:void(0)'} 吃豆豆
        \|
        %a{:href => 'javascript:void(0)'} 祖玛
        \|
        %a{:href => 'javascript:void(0)'} 钓鱼

.clearfix{:style => 'width:100%;height:10px;'}

.ranks
  .left#played
    %ul
      %li.active{:'data-block' => 'played'} 
        %a.played{:href => 'javascript:void(0)'} 我玩过的
      %li{:'data-block' => 'recommend'}
        %a.played{:href => 'javascript:void(0)'} 推荐小游戏

    .clearfix{:style => 'width:100%;height:10px;'}
    .played.block
      %p this is played
    .recommend.block
      %p this is recommend
    
  .right#hot-game
  .right#new-game

  .left#rank-list

  .right#classic-game

.clearfix{:style => 'width:100%;height:10px;'}
.categories
  .row
    .block
    .block
  .row.odd
    .block
    .block

  .row
    .block
    .block
  .row.odd
    .block
    .block

  .row
    .block
    .block
  .row.odd
    .block
    .block

.friend-links
