.block.span5.pull-left{:style => 'margin:0px;'}
  .navbar{:style => 'margin:0px;'}
    .navbar-inner{:style => 'line-height:30px;'}
      系统设置

  .b{:style => 'padding-top:10px;margin:0px -1px;height:200px;border:1px solid #eee;border-top:none;'}
    %ul
      %li
        %a{:href => "#", :tabindex => "-1"} Action
      %li
        %a{:href => "#", :tabindex => "-1"} Another action
      %li
        %a{:href => "#", :tabindex => "-1"} Something else here

.block.span20.pull-left{:style => 'border:1px solid #eee;height:200px;margin-left:5px;'}
