.block.span5.pull-left{:style => 'margin:0px;'}
  .navbar{:style => 'margin:0px;'}
    .navbar-inner{:style => 'line-height:30px;'}
      系统设置

  .b{:style => 'padding-top:10px;margin:0px -1px;height:200px;border-top:none;'}
    %ul.nav.nav-tabs.nav-stacked
      %li.active
        %a{:href => "#", :tabindex => "-1"} 系统信息
      %li
        %a{:href => "#", :tabindex => "-1"} 关于我们
      %li
        %a{:href => "#", :tabindex => "-1"} 联系我们

.block.span20.pull-left{:style => 'height:200px;margin-left:5px;'}
