.page-header
  %h4 修改 <%= singular_table_name %>

= render 'form'

= link_to '展示', @<%= singular_table_name %>, :class => 'btn btn-mini btn-success'
\|
= link_to '返回', <%= index_helper %>_path, :class => 'btn btn-mini'
