@import "compass/reset";
@import "compass/layout/grid-background";

// min-height
@import "compass/utilities/general/min";

// round
@import "compass/css3/border-radius";

// floar
@import "compass/utilities/general/float";

//clear
@import "compass/utilities/general/clearfix";

.clearfix{
  @include clearfix;
}

body{
width:100%;
margin: 0px auto;
@include min-height(1000px);
background-image:url(/front/images/topbg.jpg);
background-repeat: repeat-x;
background-color: #fff;
font-family:"Microsoft Yahei","SimHei","Helvetica Neue";
}

#nav{
  background-image: url(/front/images/topnavbg.png);
  background-color: #000;
  .wrapper{
  width:990px;
  margin:0 auto;
  height:32px;
  }
  
  .wrapper a{
  font-size:12px;
  line-height:32px;
  margin:0 5px;
  color:#ccc;
  text-decoration:none;
  }

  .wrapper a:hover{
    color:#fff;
  }
  
  .wrapper .left-links{
  @include float-left;
  width:490px;
  height:32px;
  line-height:32px;
  }
  
  .wrapper .left-links a{
  @include float-left;
  }
  
  .wrapper .right-links{
  @include float-right;
  width:490px;
  height:32px;
  line-height:32px;
  }
  
  .wrapper .right-links a{
  @include float-right;
  }
}

#header{
  height:106px;
  width:990px;
  margin:0 auto;
  .logo{
    @include float-left;
    display:block;
    width:180px;
  }
  .center{
    @include float-left;
    width:505px;
    height:66px;
  }
  .search{
    form{
      margin:5px;
      @include float-right;
    }
    .hot{
      width:200px;
      @include float-right;
      margin-right:80px;
      a{
        margin:0 3px;
        font-size:12px;
        text-decoration:none;
      }
    }
    @include float-left;
    width:305px;
    height:66px;
  }
  .cate_nav{
    height:40px;
    width:100%;
    @include float-left;
    background-image: url(/front/images/catenavbg.png);
    background-color: #000;
/*
    @include border-radius(5px);
*/
    color:#fff;
    font-size:8px;
    a{
      line-height:40px;
      color:#fff;
      margin:0 5px;
      text-decoration:none;
      font-size:14px;
      padding:5px;
      font-family:"Helvetica Neue";
      font-weight:500;
    }
    a:hover{
      background-color: #fff;
      @include border-radius(3px);
      color:#41abff;
    }
  }
}

.tag_nav{
  border:1px solid #BED7E8;
  @include min-height(110px);
  background-color:#F8FBFD;
  .block{
    @include float-left;
    width:319px;
    padding:5px;
    font-size:12px;
    dl{
      height:19px;
      margin:5px 0 5px 0;
    }
    dt{
      a{
        margin-left:4px;
      }
      width:38px;
      @include float-left;
      background-image:url(/front/images/catebg.png);
      height:19px;
      line-height:19px;
    }
    dd{
      @include float-left;
      height:19px;
      line-height:19px;
      margin-left:3px;
      width:274px;
      overflow:hidden;
      color:#BED7E8;
    }
    a{
      font-size:12px;
      color:#444;
      text-decoration:none;
      margin:0 2px;
    }
  }
}

.ranks{
  .left{
    border:1px solid #BED7E8;
    @include min-height(300px);
    background-color:#F8FBFD;
    width:200px;
  }
}

#content{
  width:990px;
  @include min-height(800px); 
  margin:0 auto;
}

#footer{
  width:990px;
  @include min-height(100px); 
  margin:0 auto;
}
